:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
    --main-blue-color: #0C4BAA;
    --paddingS: 4px;
    --paddingM: 8px;
    --paddingL: 16px;
    --paddingXL: 32px;
}

* {
    font-size-adjust: 0.4;
}

.header {
    position: relative;
    width: 100%;
    height: 280px;
    background: #FFFFFF;
}

.topHeaderFrame {
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topHeaderContent {
    position: relative;
    display: flex;
    width: 90%;
    height: 81px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 319px;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.newShipLogo {
    width: 93px;
    height: 80px;
}

.logoText {
    width: 200px;
    height: 70px;
}

.rightSideHeader {
    position: relative;
    width: 270px;
    height: 76px;
}

.menuIcon {
    display: none;
}

#currentUserName {
    font-family: Aleo, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #0C4BAA;
    width: 100%;
}

.logAndLangButtons {
    display: flex;
}

.lang {
    margin-right: 0;
    margin-left: auto;
}

.en, .enInMenu {
    margin-right: 0;
    margin-left: 17px;
}

.logButton, .adminButton {
    width: 108px;
    height: 41px;
    background: #FFFFFF;
    border: 2px solid #0C4BAA;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: Aleo, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #0C4BAA;
}

.logButton:hover, .adminButton:hover {
    background-color: coral;
}

.adminButton {
    width: auto;
    border-radius: var(--paddingM);
    margin-left: var(--paddingM);
}

.ru:hover, .en:hover, .ruInMenu:hover, .enInMenu:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 3px 2px #3498db;
}

.menuFrame {
    display: flex;
    height: 142px;
    background: #153C76;
}

.menu {
    display: flex;
    width: 920px;
    height: 142px;
    margin-left: auto;
    margin-right: auto;
}

#langInMenu {
    display: none;
}

.menuContent {
    display: block;
    width: 230px;
    height: 142px;
}

.menuContent img {
    display: flex;
    width: 40px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.menuContent p {
    font-family: Aleo, serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: #FFFFFF;
    margin: 5px auto 0;
    width: fit-content;
}

.menuContent:hover {
    border: 1px solid white;
    cursor: pointer;
}

#searchingOrgPageInMenu img {
    width: 55px;
    height: 52px;
    margin-top: 11px;
}

.footer {
    position: relative;
    bottom: 0;
    /*width: 1600px;*/
    width: 100%;
    height: 160px;
    background: darkgray;
    /*background: rgba(249, 254, 32, 0.1);*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.contactsFrame {
    width: 573px;
    height: 90px;
    display: flex;
}

.contacts {
    margin: auto;
    display: flex;
}

.contactText {
    width: 168px;
    height: 33px;

    font-family: Aleo, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto auto auto 8px;
    color: #0C4BAA;
}

.userIcon {
    display: none;
}

@media (max-width: 990px) {
    .header {
        height: 150px;
    }

    .menuIcon {
        display: block;
        position: relative;
        width: 36px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }

    .userInfoClose.active {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 1;
    }

    .menuFrame, .userInfoClose {
        display: none;
    }

    .menuIcon span,
    .menuIcon::before,
    .menuIcon::after,
    .userInfoClose.active::before,
    .userInfoClose.active::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: var(--main-blue-color);
    }

    .menuIcon::before,
    .menuIcon::after,
    .userInfoClose.active::before,
    .userInfoClose.active::after {
        content: "";
    }

    .menuIcon::before {
        top: 0;
    }

    .menuIcon::after {
        bottom: 0;
    }

    .menuIcon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menuIcon.active::before {
        transform: rotate(45deg);
        top: 11px;
        background-color: white;
    }

    .menuIcon.active:after {
        transform: rotate(-45deg);
        bottom: 12px;
        background-color: white;
    }

    .menuIcon.active span {
        transform: scale(0);
    }

    .userInfoTopLine {
        display: flex;
    }

    .userInfoClose.active::before {
        transform: rotate(45deg);
        top: 5px;
        background-color: var(--main-blue-color);
    }

    .userInfoClose.active::after {
        transform: rotate(-45deg);
        bottom: 0;
        background-color: var(--main-blue-color);
        left: 0;
        top: 5px;
    }

    .header.active {
        min-height: 380px;
        height: 50%;
    }

    .menuFrame.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        background-color: #0C4BAA;
        opacity: 0.9;
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        z-index: 1;
    }

    .menu.active {
        display: block;
        min-width: 298px;
        width: 90%;
        height: auto;
    }

    #langInMenu.active {
        display: block;
        text-align: center;
    }

    .menuContent.active {
        display: flex;
        /*width: 100%;*/
        width: auto;
        height: auto;
        margin-bottom: 15px;
    }

    .menuContent.active img {
        display: none;
    }

    .rightSideHeader.active {
        display: block;
        position: fixed;
        top: 100px;
        /*left: 25%;*/
        right: 0;
        min-width: 300px;
        height: 125px;
        background-color: white;
        opacity: 0.9;
        transition: left 0.3s ease 0s;
        border: 1px solid var(--main-blue-color);
        border-radius: 10px;
        padding: 10px;
        z-index: 1;
    }

    .rightSideHeader {
        display: none;
    }

    .userIcon {
        display: block;
        margin-right: 15px;
        cursor: pointer;
        z-index: 1;
    }

    .smallIconsDiv {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 470px) {
    .logo {
        width: 219px;
        height: 70px;
    }

    .newShipLogo {
        width: 63px;
        height: 60px;
    }

    .logoText {
        width: 130px;
        height: 50px;
    }

    .contactsFrame {
        width: auto;
        height: auto;
        display: block;
    }

    .contacts {
        display: flex;
        justify-content: space-evenly;
    }

    .contactText {
        margin: auto 0 auto 8px;
    }
}




