:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
    --paddingS: 4px;
    --paddingM: 8px;
    --paddingL: 16px;
    --paddingXL: 32px;
    --paddingXXL: 48px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/** {*/
/*    font-size-adjust: 0.5;*/
/*}*/

html {
    height: 100%;
}

.body {
    position: relative;
    width: 100%;
    min-height: 100%;
    background: #FFFFFF;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
}

.mainPageFrame {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 310px);
}

.mainPageFrameBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/blueMapOnWhite.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.05;
}

.welcomeFrame {
    position: relative;
    width: 920px;
    height: fit-content;
    margin: 0 auto;
    padding: var(--paddingXL) 0;
    text-align: center;
}

#welcomeToMakShipping {
    width: 885px;
    height: fit-content;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.15em;

    color: darkblue;
}

#descriptionOfApp {
    width: 900px;
    height: fit-content;
    margin-top: var(--paddingXL);
    margin-bottom: 0;

    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.15em;

    color: black;
    text-align: center;
}

.buttonsFrame {
    position: relative;
    width: 75%;
    display: flex;
    margin: auto auto var(--paddingXXL) auto;

}

.mainBtn {
    width: 330px;
    height: 200px;
    border: 5px solid #0C4BAA;
    box-sizing: border-box;
    border-radius: 45px;
    margin: 0 auto 0 auto;
    text-align: center;
}

.mainBtnText {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15em;
    color: #0C4BAA;
}

.mainBtn img {
    margin-top: var(--paddingL);
    margin-bottom: var(--paddingL);
    height: 45px;
    width: 45px;
}

.mainBtn:hover {
    background: coral;
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 990px) {
    .body {

    }

    .mainPageFrame {

    }

    .welcomeFrame {
        width: 100%;
        padding-bottom: var(--paddingXXL);
    }

    #welcomeToMakShipping {
        width: 100%;
        font-weight: bold;
        font-size: 40px;
        line-height: 42px;
    }

    #descriptionOfApp {
        width: 100%;
    }

    .buttonsFrame {
        display: block;
    }

    .mainBtn {
        margin: 0 auto var(--paddingXXL) auto;
    }

}

.aboutAppFrame {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 310px);
    display: flex;
    justify-content: center;
    align-content: center;
}

.aboutAppContent {
    width: 75%;
    min-height: 2100px;
    margin: var(--paddingL) auto auto auto;
}

#makShippingAppHeader {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    color: #0C4BAA;
}

#makShippingAppDescriptionFrame {
    width: 90%;
    display: flex;
    margin-top: var(--paddingL);
}

#aboutAppHeaderDiv {
    width: 100%;
}

#divDescriptionOfAppInAboutApp {
    width: 90%;
}

#descriptionOfAppInAboutApp {
    max-width: 80%;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;

    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    color: #000000;
}

#makShippingAppDescriptionFrame img {
    margin: auto 0 auto auto;
}

#findUsingApp {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    color: #000000;
    margin-top: var(--paddingL);
}

.serviceFrame {
    display: flex;
    margin-bottom: 60px;
}

.serviceIconFrame {
    width: 300px;
    height: 120px;
    display: flex;
    align-items: center;
}

.serviceIconFrame img {
    margin: auto;
}

.serviceFrame p {
    width: 700px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-size: 28px;
    line-height: 30px;
    display: flex;
    letter-spacing: 0.2em;
    color: #0C4BAA;
    margin: auto auto auto 5%;
    padding-left: 5px;
}

.aboutAppContent .mainBtn {
    border-color: #0C4BAA;
}

.aboutAppContent .mainBtnText {
    color: #0C4BAA;
}

#aboutAppButtonsFrame {
    width: 100%;
}

.loginPageFrame {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 310px);
    background: url(../img/logInBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.loginFrame, .registerFrame {
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 470px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.82);
    mix-blend-mode: normal;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #0C4BAA;
}

.logFormHeader, .registerFormHeader, .orgSearchingHeader {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    color: #0C4BAA;
    margin: 5px auto auto auto;
    justify-content: center;
    width: fit-content;
}

#loginForm, #registerForm {
    margin-top: 10px;
    text-align: center;
}

.inputFrame {
    width: 590px;
    height: 165px;
    margin: auto;
}

.inputLabel {
    width: 200px;
    height: 28px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #0C4BAA;
}

.inputPlaceHolder {
    width: 377px;
    height: 50px;
    background: rgba(236, 254, 32, 0.11);
    border: 1px solid #0C4BAA;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 15px;
    outline: none;
    color: #0C4BAA;
    letter-spacing: 0.1em;
    padding-left: 5px;

    -webkit-box-shadow: inset 0 0 0 50px rgba(296, 274, 32, 0.49);
    -webkit-text-fill-color: #0C4BAA;
}

#username {
    margin-top: 0;
}

#passwordLogin {
    margin-top: 30px;
}

.inputPlaceHolder:focus {
    border: 3px solid skyblue;
    border-radius: 20px;
}

#loginButtonInForm {
    position: relative;
}

.createAccountFrame {
    position: relative;
    top: 40px;
    text-align: center;
}

.createAccountFrame p, button {
    color: red;
}

.createAccountFrame button {
    width: 200px;
    border: 2px solid red;
    border-radius: 15px;
}

.createAccountFrame button:hover {
    color: #FFFFFF;
    background: red;
}

.registerPageFrame {
    position: relative;
    min-height: calc(100vh - 310px);
    width: 100%;
    background: url(../img/registerBackGround.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

#registerInputFrame {
    height: 270px;
}

#registerForm {
    height: 350px;
    text-align: center;
}

#registerButtonInForm {
    width: 200px;
    height: 50px;
    margin-top: 60px;
}

.searchOrgPageFrame {
    text-align: center;
    width: 100%;
    min-height: calc(100vh - 310px);
}

#formSearchOrganizationsByCountryAndType, #formSearchByName {
    border: 5px solid olive;
    border-radius: 20px;
    margin: 10px auto auto auto;
    padding: 5px 10px 10px 10px;
    max-width: 700px;
    text-align: left;
}

.selectLabel {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #000000;
    margin-top: 20px;
}

select {
    margin: 0 auto 0 0;
    border: 2px solid #0C4BAA;
    box-sizing: border-box;
    border-radius: 10px;
    height: 28px;
    outline: none;
    background: white;
}

.searchButton {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0C4BAA;
    background: #FFFFFF;
    margin-top: 20px;
    border: 2px solid #0C4BAA;
    box-sizing: border-box;
    border-radius: 15px;
    width: 200px;
    height: 54px;
}

.searchButton:hover {
    border: 2px solid #0C4BAA;
    background: #0C4BAA;
    color: #FFFFFF;
}

#formSearchByName {
    margin-top: 40px;
}

#searchOrganizationByName {
    height: 32px;
    width: 400px;
    border: 2px solid #0C4BAA;
    border-radius: 5px;
}

#searchOrganizationByName:active {
    border-color: #3498db;
}

#searchingOrganizationResult {
    margin: 15px auto 15px auto;
    width: 100%;
    align-items: center;
    min-height: 200px;
    overflow: hidden;
}

#searchingOrganizationResult h4 {
    margin: 0;
}

.organizationDetails {
    float: left;
    margin: 15px;
    text-align: left;
    display: inline-block;
}

#searchOrgResultBody {
    min-height: 500px;
    width: 100%;
}

.searchOrgResultContainer {
    text-align: center;
    margin: 0;
    min-height: calc(100vh - 310px);
    width: 100%;
}

#resultContainer {
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 10px auto auto auto;
    max-width: 1600px;
}

.paginationContainer {
    margin: 50px auto 50px auto;
    text-align: center;
}

#orgAndContactDetailsBody {
    min-height: 750px;
}

#allPageContainer {
    margin: auto auto 30px;
    text-align: center;
    min-height: calc(100vh - 310px);
}

#orgDetailsHeader {
    margin-top: 5px;
}

#resultOrgDetailsContainerWithButtons {
    border: 4px solid olive;
    border-radius: 20px;
    padding: 5px;
    width: auto;
    max-width: 900px;
    margin: auto;
    text-align: left;
}

tr {
    height: 30px;
    vertical-align: top;
}

.firstColumn {
    min-width: 200px;
}

.secondColumn {
    color: #0C4BAA;
    padding-left: 10px;
}

#orgDetailsButtonsFrame {
    align-items: center;
    margin-top: 30px;
}

#orgDetailsButtonsFrame button {
    border-radius: 10px;
    color: #FFFFFF;
}

#successButtons {
    display: flex;
    justify-content: space-evenly;
}

#warningButtons {
    display: flex;
    justify-content: center;
}

#successButtons button, #warningButtons button, #contactButtons button {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #0C4BAA;
    margin-top: 3px;
    border: 2px solid #0C4BAA;
    border-radius: 10px;
    min-height: 30px;
}

#successButtons button:hover, #warningButtons button:hover, #contactButtons button:hover {
    border: 2px solid #0C4BAA;
    background: #FFFFFF;
    color: #0C4BAA;
}

#warningButtons button, #contactButtons button {
    margin: 20px 70px;
    color: #0C4BAA;
    background: #FFA31A;
    border: 2px solid #0C4BAA;
}

#resultContainer div, #searchingOrganizationResult div {
    border: 4px solid olive;
    border-radius: 20px;
    padding: 10px;

    width: auto;
}

#contactsHead {
    text-align: left;
    margin-left: var(--paddingL);
}

#resultContactsContainer {
    margin-left: var(--paddingL);
    margin-right: var(--paddingL);
}

#contactDetails {
    max-width: 800px;
    margin-bottom: 30px;
    border: 1px solid #B57900;
    border-radius: 20px;
    padding: 10px;
    text-align: left;
}

#contactButtons a {
    margin-right: 35px;
    margin-top: 2%;
}

#contactButtons {
    display: flex;
    justify-content: center;
}

#addOrgPage, #addContactPage, #addFurtherContactPage, #editOrgPage, #editContactPage {
    min-height: calc(100vh - 310px);
    margin-top: 0;
    padding-bottom: var(--paddingXXL);
}

.notes {
    color: crimson;
    font-weight: bold;
    display: block;
    min-height: 18px;
    height: fit-content;
    line-height: 14px;
    margin-top: 10px;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 1000px;
}

.paginationButtons {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 1000px;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.button {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.button:active {
    transform: scale(0.98);
}

.button:focus {
    outline: 0;
}

.button:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

.btn {
    margin: 2px;
}

.editUserDetailsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editUserDetailsForm h {
    margin-top: 5px;
    color: #0C4BAA;
    font-weight: bold;
}

.editUserDetailsForm button {
    background-color: #FFFFFF;
    color: #0C4BAA;
    border-color: #0C4BAA;
    border-radius: var(--paddingM);
    font-weight: bold;
}

.editUserDetailsForm button:hover {
    background-color: coral;
}

@media (max-width: 990px) {
    .aboutAppContent {
        width: 90%;
    }

    #makShippingAppDescriptionFrame {
        width: 100%;
    }

    #resultOrgDetailsContainerWithButtons {
        margin-right: 10px;
        margin-left: 10px;
        text-align: left;
    }

    .orgDetailsButton {
        margin-right: 5px;
    }

    .mt-5, .my-5 {
        margin-top: 0!important;
    }

}

@media (max-width: 720px) {
    #descriptionOfAppInAboutApp {
        max-width: 100%;
    }

    #makShippingAppHeader {
        font-size: 26px;
        line-height: 28px;
    }

    #descriptionOfAppInAboutApp, #findUsingApp {
        font-size: 18px;
        line-height: 20px;
    }

    .aboutAppContent p {
        font-size: 18px;
        line-height: 20px;
    }

    #makShippingAppDescriptionFrame img {
        width: 80px;
        height: 75px;
    }

    .serviceIconFrame, .serviceIconFrame img {
        width: 80px;
        height: 75px;
    }

    #airIconFrame, #airIconFrame img {
        width: 85px;
        height: 45px;
    }

    .loginFrame, .registerFrame {
        width: 95%;
        max-width: none;
        height: 470px;
    }

    .inputFrame {
        width: 100%;
        height: 165px;
        margin: auto;
    }

    .inputLabel {
        width: 30%;
        height: 44px;
        font-size: 18px;
        line-height: 22px;
    }

    .inputPlaceHolder {
        width: 60%;
        height: 50px;
        border-radius: 20px;
        margin-bottom: 15px;
    }

    #formSearchOrganizationsByCountryAndType, #formSearchByName {
        margin-left: 10px;
        margin-right: 10px;
    }

    #warningButtons button, #contactButtons button {
        margin: 20px 10px;
    }
}

@media (max-width: 470px) {
    .welcomeFrame {
        padding: var(--paddingL) 0;
    }

    #welcomeToMakShipping {
        font-size: 32px;
        line-height: 34px;
    }

    #descriptionOfApp {
        font-size: 20px;
        line-height: 22px;
        margin-top: var(--paddingL);
    }

    .buttonsFrame {
        width: 85%;
    }

    .mainBtn {
        width: 280px;
        height: 160px;
        margin: 0 auto var(--paddingL) auto;
    }

    .mainBtnText {
        font-size: 18px;
        line-height: 20px;
    }

    .logFormHeader, .registerFormHeader, .orgSearchingHeader {
        font-size: 28px;
        line-height: 30px;
        text-align: center;
    }

    .inputLabel {
        width: 30%;
        height: 32px;
        font-size: 14px;
        line-height: 16px;
    }

    .inputPlaceHolder {
        width: 60%;
        height: 30px;
        border-radius: 20px;
        margin-bottom: 15px;
    }

    .notes {
        min-height: 14px;
        line-height: 14px;
    }

    #registerButtonInForm {
        margin-top: 0px;
    }

    select, #searchOrganizationByName {
        width: 95%;
    }

    .firstColumn {
        min-width: auto;
    }

    #successButtons, #warningButtons {
        display: block;
    }

    .orgDetailsButton {
        margin: 0 0 var(--paddingL) 0;
    }

    #warningButtons button, #contactButtons button {
        margin: 0 0 var(--paddingL) 0;
    }

    #contactButtons {
        display: block;
        margin-top: var(--paddingL);
    }

}



